In [1]:
li = [100, 200, 150, 300, 180]

In [2]:
li

[100, 200, 150, 300, 180]

In [6]:
import pandas as pd
df = pd.DataFrame(li, columns=['cost'])
df

   cost
0   100
1   200
2   150
3   300
4   180

Techniques To Perform Feachers Transformations:

1.Normalization
2.Standardization
3.Log Transformation
4.Robust Scaler
5.Max Absolute Scaler

Normalization/ Min Max Scaler

In [7]:
min_cost = df.cost.min()
max_cost = df.cost.max()

In [8]:
min_cost

100

In [9]:
max_cost

300

In [10]:
df['cost_norm_manual']= (df.cost - min_cost) / (max_cost - min_cost)

In [11]:
df.head()

   cost  cost_norm_manual
0   100              0.00
1   200              0.50
2   150              0.25
3   300              1.00
4   180              0.40

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
mmx =  MinMaxScaler()

In [20]:
df['cost_norm_sklearn'] = mmx.fit_transform(df[['cost']])

In [21]:
df.head()

   cost  cost_norm_manual  cost_norm_sklearn
0   100              0.00               0.00
1   200              0.50               0.50
2   150              0.25               0.25
3   300              1.00               1.00
4   180              0.40               0.40

Standardization / Standard Scaler

In [29]:
mean_cost = df.cost.mean()
std = df.cost.std()

In [30]:
df['cost_std_manual'] = (df['cost'] - mean_cost) / std

In [31]:
df.head()

   cost  cost_norm_manual  cost_norm_sklearn  cost_std_manual
0   100              0.00               0.00        -1.161738
1   200              0.50               0.50         0.189120
2   150              0.25               0.25        -0.486309
3   300              1.00               1.00         1.539978
4   180              0.40               0.40        -0.081051

In [35]:
from sklearn.preprocessing import MinMaxScaler

scaler = StandardScaler()

In [38]:
df['cost_std_sklearn'] = scaler.fit_transform(df[['cost']])

In [39]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn
0,100,0.00,-1.298863,-1.161738,-1.298863
1,200,0.50,0.211443,0.189120,0.211443
2,150,0.25,-0.543710,-0.486309,-0.543710
3,300,1.00,1.721748,1.539978,1.721748
4,180,0.40,-0.090618,-0.081051,-0.090618

In [40]:
std_dof = df.cost.std(ddof= 0)

In [41]:
std_dof

66.2117814289874

In [42]:
std_dof1 = df.cost.std(ddof= 1)
std_dof1

74.02702209328699

In [43]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn
0,100,0.00,-1.298863,-1.161738,-1.298863
1,200,0.50,0.211443,0.189120,0.211443
2,150,0.25,-0.543710,-0.486309,-0.543710
3,300,1.00,1.721748,1.539978,1.721748
4,180,0.40,-0.090618,-0.081051,-0.090618

In [44]:
df['cost_std_manual2'] = (df['cost'] - mean_cost) / std_dof1

In [45]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2
0,100,0.00,-1.298863,-1.161738,-1.298863,-1.161738
1,200,0.50,0.211443,0.189120,0.211443,0.189120
2,150,0.25,-0.543710,-0.486309,-0.543710,-0.486309
3,300,1.00,1.721748,1.539978,1.721748,1.539978
4,180,0.40,-0.090618,-0.081051,-0.090618,-0.081051

In [46]:
df['cost_std_manual3'] = (df['cost'] - mean_cost) / std_dof

In [47]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3
0,100,0.00,-1.298863,-1.161738,-1.298863,-1.161738,-1.298863
1,200,0.50,0.211443,0.189120,0.211443,0.189120,0.211443
2,150,0.25,-0.543710,-0.486309,-0.543710,-0.486309,-0.543710
3,300,1.00,1.721748,1.539978,1.721748,1.539978,1.721748
4,180,0.40,-0.090618,-0.081051,-0.090618,-0.081051,-0.090618

Log Transformation

In [48]:
from sklearn.preprocessing import FunctionTransformer

import numpy as np

In [52]:
fc = FunctionTransformer(np.log1p)
df['cost_fc'] = fc.fit_transform(df[['cost']])
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3,cost_fc
0,100,0.00,-1.298863,-1.161738,-1.298863,-1.161738,-1.298863,4.615121
1,200,0.50,0.211443,0.189120,0.211443,0.189120,0.211443,5.303305
2,150,0.25,-0.543710,-0.486309,-0.543710,-0.486309,-0.543710,5.017280
3,300,1.00,1.721748,1.539978,1.721748,1.539978,1.721748,5.707110
4,180,0.40,-0.090618,-0.081051,-0.090618,-0.081051,-0.090618,5.198497

In [53]:
df['fc_np'] = np.log1p(df[['cost']])

In [54]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3,cost_fc,fc_np
0,100,0.00,-1.298863,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121
1,200,0.50,0.211443,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305
2,150,0.25,-0.543710,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280
3,300,1.00,1.721748,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110
4,180,0.40,-0.090618,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497

Power Transformer (Box Cox)

In [55]:
from scipy.stats import boxcox
df['box cox'], _= boxcox(df['cost'] +1)

In [56]:
df

,cost,cost_norm_manual,cost_norm_sklearn,cost_std_manual,cost_std_sklearn,cost_std_manual2,cost_std_manual3,cost_fc,fc_np,box cox
0,100,0.00,-1.298863,-1.161738,-1.298863,-1.161738,-1.298863,4.615121,4.615121,5.609161
1,200,0.50,0.211443,0.189120,0.211443,0.189120,0.211443,5.303305,5.303305,6.642559
2,150,0.25,-0.543710,-0.486309,-0.543710,-0.486309,-0.543710,5.017280,5.017280,6.205967
3,300,1.00,1.721748,1.539978,1.721748,1.539978,1.721748,5.707110,5.707110,7.276619
4,180,0.40,-0.090618,-0.081051,-0.090618,-0.081051,-0.090618,5.198497,5.198497,6.481390

In [57]:
df.cost_std_sklearn.mean()

2.7755575615628914e-17

In [58]:
df.cost_std_sklearn.mean() +1

1.0

In [ ]:
df.cost_std